
  <!-- start banner Area -->
      <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                Grupo
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->


<h1><%= @group.title %></h1>

<%# <%= image_tag(@group.image.url, alt: 'Image') if @group.image? %> %>

<p><%= @group.body %></p>

<p><%= link_to 'Editar', edit_group_path(@group) %></p>
