<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">NOSOTROS</h1>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 home-about-left">
							<h1>VISION<br></h1>
							<p>
							<br>	
							Para el 2030, será reconocida a nivel local, municipal, departamental, nacional e internacional, como organización  líder en formación, emprendimiento cultural y  el rescate de la identidad afro     como también gestionar y aplicar proyectos para el mejoramiento de la calidad de vida de los afrodescendientes y en la formación para el respeto y la dignidad humana, con logros en el cierre de la brecha de desigualdad ocasionada por los diferentes tipos de discriminación y vulneración de los derechos humanos</p>

							

							
						</div>
						<div class="col-lg-6 home-about-right">
							<h1>MISION<br></h1>
							<p>
							Ser una de las Escuelas de Formación más reconocidas por su transformación así mismo cono también fomentar, impulsar, coordinar y orientar la ejecución de proyectos para el desarrollo social, intelectual, económico y cultural de los afrodescendientes, raizales palanquera, generando espacios de visualización, inclusión social, participación ciudadana, políticos de formación, con el fin de promover iniciativas que conlleven a la superación personal y colectiva que cierran la brecha del racismo y la discriminación racial, brindando una mejor calidad de vida en la población afrodescendientes.</p>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			<!-- Start feature Area -->
			<section class="feature-area relative pt-100 pb-20">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">Compromiso</h4></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">Respeto</h4></a>
		
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">Transparencia</h4></a>
								
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">La lealtad</h4></a>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">Mejora Continua</h4></a>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<a href="#"><h4 class="text-white">Creatividad e Innovación</h4></a>

							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End feature Area -->			
